ul.tags-nav__items.footer-nav__items
  - blog.tags.each do |tag, articles|
    li.tags-nav__item.footer-nav__item
      = link_to tag, tag_path(tag), class: "#{is_current_group?(tag)} tags-nav__link #{lang_class(tag)}"
