@charset "utf-8"

///////////////////////
// colors palette
///////////////////////

// https://github.com/mrmrs/colors/blob/master/sass/_variables.scss

// Cool
$aqua: #7FDBFF
$blue: #0074D9
$navy: #001F3F
$teal: #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime: #01FF70

// Warm
$yellow: #FFDC00
$orange: #FF851B
$red: #FF4136
$fuchsia: #F012BE
$purple: #B10DC9
$maroon: #85144B

// Gray Scale
$white: #fff
$silver: #ddd
$gray: #aaa
$black: #4E4E4E

///////////////////////
// setup colors
///////////////////////

$base-color: $silver
$main-color: $teal
$accent-color: $yellow
$text-color: $black
$header-image: false

///////////////////////
// setup fonts
///////////////////////

// You can choose
// en +lato +montserrat +open-sans +tauri +roboto +podkova +old-standard +special-elite +ubuntu +satisfy
// ja +sans-serif +serif +bold-ja

=main-font
  &.is-ja
    +sans-serif
  &.is-en
    +tauri(700)

=main-bold-font
  &.is-ja
    +bold-ja
  &.is-en
    +tauri(bold)

=site-title-font
  +main-bold-font
=site-copy-font
  +main-font
=global-nav-font
  +main-font
=page-title-font
  +main-font
=tag-font
  +main-font
=date-font
  +main-font
=pagenate-font
  +main-font
=copyright-font
  +main-font
=footer-nav-title-font
  +main-font
